.contact {
  padding: 100px 8%;
  background: #000000;
  color: #eaeaea;
  text-align: center;
  font-family: 'Preahvihear', sans-serif;
}

.contact h2 {
  font-size: 42px;
  margin-bottom: 40px;
  color: #ffffff;
  font-family: 'Preahvihear', sans-serif;
}

/* Contact Info */
.info {
  margin-bottom: 50px;
}

.info p {
  font-size: 16px;
  margin: 10px 0;
}

.info a {
  margin-left: 8px;
  color: #6a0377;
  text-decoration: none;
  transition: color 0.3s ease;
}

.info a:hover {
  color: #ffffff;
}

/* Form */
.form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input,
.form textarea {
  padding: 14px;
  background: #111;
  border: 1px solid #333;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: border 0.3s ease;
}

.form input:focus,
.form textarea:focus {
  border-color: #e525eb;
}

.form button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #6a0377;
  color: #d3d0d0;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(248, 246, 246, 0.4);
}
